body
{
    font: Arial, sans-serif;
}

.buttonArea,
.footerText
{
    text-align: center;
}

#weatherZips li{ cursor: pointer;}

.textInfo{width: 75%; float: left;}
.imgInfo{width: 25%; float: right;}
.weatherIcon{
        float: right;
        height: 2.5em;
        width: 2.5em;
    }
.zipInfo{font-size: .75em; margin-top: .75em; position: absolute; float:left;}
.smallInfo{font-size: .75em; margin-top: .75em; position: absolute; margin-left: 125px;}
.smallIcon{float:right; display:inline; height:2em; width: 2em; margin-right:2em;}
.details{margin-top: 0em; float:right;}
#savebutton{
    display: block;
    text-align: center;
    margin: .7em .12em 0;
    font-size: 1.2em;
}
#addbutton{
    display: block;
    text-align: center;
    margin: .7em .12em 0;
    font-size: 1.2em;
}
#zip {
    height:25px;
    width: 310px;
    margin-left: 03px;
    margin-top: 40px;
    margin-right: 03px;
}

.km-android .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(47, 137, 81);
}
.km-android .km-view .km-tabstrip .km-button.km-state-active {
    border-color: rgba(31, 117, 81, 0.972549);
}
.km-android .km-view .km-navbar .km-button.km-state-active {
    background-color: rgb(47, 137, 81);
}
.km-android .km-view .km-content .km-list > li {
    background-color: rgb(61, 96, 107);
}
.km-android .km-view .km-content .km-list > li .km-icon {
    color: rgb(229, 229, 229);
}
.km-android .km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgb(178, 178, 178);
}
.km-android .km-view .km-content .km-button.km-state-active {
    background-color: rgb(61, 96, 107);
}
.km-android .km-view .km-content .km-list > li .km-switch-container .km-android .km-switch-on .km-switch-handle .km-switch-label-on {
    color: rgb(16, 120, 7);
}
.km-android .km-view .km-content {
    background-image: -webkit-gradient(linear,100% 100%,0 0,color-stop(0, rgba(255,255,255,.5)),color-stop(.73, rgba(255,255,255,.2)),color-stop(1, rgba(255,255,255,.5)));
    background-image: -moz-linear-gradient(100% 100%,0 0,rgba(255,255,255,.5),rgba(255,255,255,.2) 73%,rgba(255,255,255,.5));
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgb(0, 0, 0);
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}
.km-android .km-view .km-navbar .km-button.km-state-active .km-text {
    color: rgb(229, 229, 229);
}
.km-android .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(47, 137, 81);
}
